html, body {
    height: 100%;
    font-family: Roboto, SansSerif !important;
}

.img-code-container {
    height: 50%;
}

.img-code {
    background-image: url("../assets/codice-opacizzato.png");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-white {
    color: white;
}

.name-surname-position {
    border: solid 3px white;
    width: 60%;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profession {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-profile {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-little-grey {
    font-size: 15px;
    color: #231F20;
    opacity: 0.6;
}

.text-medium-black {
    font-size: 17px;
    color: #231F20;
}

.back-line {
    height: 3px;
    background-color: #221E1F;
    width: 40%;
    margin: auto;
}

.black-blue {
    background-color: #313048;
    width: 150px;
    height: 150px;
    position: relative;
}

.round {
    border-radius: 50%;
}

.hobbyes-description {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50%;
    color: white;
}

.img-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}