html, body {
    height: 100%;
    font-family: Roboto, SansSerif;
}

h3 {
    font-weight: 700 !important;
    font-size: 40px !important;
}

.img-code-container {
    height: 50%;
}

.section-distance {
    padding-top: 200px
}

.img-code {
    background-image: url("../assets/codice-opacizzato.png");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-white {
    color: white;
}

.color-black {
    background-color: #221E1F;
}

.color-white {
    background-color: white;
}

.name-surname-position {
    position: absolute;
    border: solid 3px white;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-profession {
    position: relative;
}

.profession {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-profile {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-little-grey {
    font-size: 15px;
    color: #231F20;
    opacity: 0.6;
}

.text-medium-black {
    font-size: 17px;
    color: #231F20;
}

.back-line {
    height: 3px;
    width: 5%;
    margin: auto;
}

.black-blue {
    background-color: #403e54;
    width: 150px;
    height: 150px;
    position: relative;
}

.round {
    border-radius: 50%;
}

.hobbyes-description {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50%;
    color: white;
}

.img-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timeline {
    background-color: #e7e8e9;
    margin: auto;
}

.rectangle {
    width: 200px;
    background-color: #bdbfc1;
    margin: auto;
    font-weight: 700;
    font-size: 24px;
    color: #393839;
}

.horizontal-line {
    width: 1px;
    height: 50px;
    background-color: #231f20;
    margin: auto;
}

.md-circle {
    width: 30px;
    height: 30px;
    background-color: #00b1ed;
    margin: auto;
}

.sm-circle {
    width: 15px;
    height: 15px;
    background-color: #00b1ed;
    margin: auto;
}

.horizontal-line-xl {
    width: 1px;
    height: 200px;
    background-color: #231f20;
    margin: auto;
}

.center-image {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-experience {
    font-size: 24px;
    font-weight: 700;
    color: #3e3e3f;
    text-align: right;
}

.position-experience-left {
    font-size: 24px;
    font-weight: 700;
    color: #3e3e3f;
    text-align: left;
}

.data-experience {
    font-size: 20px;
    font-weight: 700;
    color: #525255;
    text-align: right;
}

.data-experience-left {
    font-size: 20px;
    font-weight: 700;
    color: #525255;
    text-align: left;
}

.experience-section {
    right: 55%;
    transform: translate(-0%, -20%);
}

.experience-section-right {
    left: 55%;
    transform: translate(-0%, -20%);
}

.text-grey-light {
    font-size: 17px;
    font-weight: 500;
    color: #9b9d9f;
}

.text-grey-light-right {
    font-size: 17px;
    font-weight: 500;
    color: #9b9d9f;
    text-align: right;
}

.skill {
    background-color: #a7a9ac;
}